body {
	font-family: 'Trebuchet MS', monospace;
}
.header {
	width: 100%;
	text-align: center;
}
.content {
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.short {
	justify-content: center;
}
.tall {
	margin: 50px 0 50px 0;
}
.list-of-things img {
	width: 100%;
	max-width: 500px;
	margin: 10px 0 10px 0;
}
.list-of-things {
	width: 100%;
	max-width: 500px;
	margin: 10px 0 10px 0;
}
div {
	padding-top: 50px;
	padding-right: 30px;
	padding-bottom: 50px;
	padding-left: 80px;
}
a {
	color: #1baec8
}

a:hover {
	color: black;
}

::-moz-selection { /* Code for Firefox */
  background: #c3f6ff;
}

::selection {
  background: #c3f6ff;
}