body {
	font-family: 'Courier New', monospace;
}
.header {
	width: 100%;
	text-align: center;
}
.content {
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.short {
	justify-content: center;
}
.tall {
	margin: 50px 0 50px 0;
}
.list-of-things img {
	width: 100%;
	max-width: 500px;
	margin: 10px 0 10px 0;
}
.list-of-things {
	width: 100%;
	max-width: 500px;
	margin: 10px 0 10px 0;
}
a {
	color: #f20c96
}

a:hover {
	color: black;
}

::-moz-selection { /* Code for Firefox */
  background: #f4b7dc;
}

::selection {
  background: #f4b7dc;
}